.student-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  justify-content: center;

}

.student-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  border: 1px solid #e8e8e8;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.student-card h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.student-card p {
  color: #555;
  margin: 4px 0;
  font-size: 15px;
}
